{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            {{ .T "groups.title" }}
        </h1>
    </div>
    <div id="flashes" class="row"></div>

    <!-- LIST VIEW -->
    <div id="groupListView">
        <div class="row">
            <button type="button" class="btn btn-primary" onclick="edit(-1)">
                <i class="fa fa-plus"></i> {{ .T "groups.new" }}</button>
            <button type="button" class="btn btn-default" onclick="regenerateOrgGroups()"
                title="{{ .T "groups.regenerate_org_tip" }}">
                <i class="fa fa-sitemap"></i> {{ .T "groups.regenerate_org" }}</button>
        </div>
        &nbsp;
        <div id="loading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>
        <div id="emptyMessage" class="row" style="display:none;">
            <div class="alert alert-info">
                {{ .T "groups.empty" }}
            </div>
        </div>
        <div class="row">
            <table id="groupTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>{{ .T "common.name" }}</th>
                        <th>{{ .T "groups.members_count" }}</th>
                        <th>{{ .T "groups.modified_date" }}</th>
                        <th class="col-md-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- FULL-PAGE EDITOR VIEW (replaces the former modal) -->
    <div id="groupEditView" style="display:none;">
        <div class="row">
            <div class="col-sm-6">
                <h2 id="editorTitle" style="margin-top:0;">{{ .T "groups.edit_title" }}</h2>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-default" id="editorCancel">
                    <i class="fa fa-arrow-left"></i> {{ .T "common.cancel" }}</button>
                <button type="button" class="btn btn-primary" id="editorSave">{{ .T "groups.save_changes" }}</button>
            </div>
        </div>
        <hr />
        <div class="row" id="modal.flashes"></div>
        <label class="control-label" for="name">{{ .T "common.name" }}:</label>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="group.name" placeholder="{{ .T "groups.name_placeholder" }}" id="name"
                autofocus />
        </div>
        <div class="form-group">
            <span class="btn btn-danger btn-file" data-toggle="tooltip" data-placement="right"
                title="{{ .T "groups.supports_csv" }}" id="fileUpload">
                <i class="fa fa-plus"></i> {{ .T "groups.bulk_import" }}
                <input type="file" id="csvupload" multiple>
            </span>
            <span id="csv-template" class="text-muted small">
                <i class="fa fa-file-excel-o"></i> {{ .T "groups.download_template" }}</span>
        </div>
        <div class="row">
            <form id="targetForm">
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{{ .T "groups.first_name" }}" id="firstName">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{{ .T "groups.last_name" }}" id="lastName">
                </div>
                <div class="col-sm-3">
                    <input type="email" class="form-control" placeholder="{{ .T "common.email" }}" id="email" required>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="{{ .T "groups.position" }}" id="position">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="fa fa-plus"></i> {{ .T "groups.add" }}</button>
                </div>
            </form>
        </div>
        <br />
        <table id="targetsTable" class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>{{ .T "groups.first_name" }}</th>
                    <th>{{ .T "groups.last_name" }}</th>
                    <th>{{ .T "common.email" }}</th>
                    <th>{{ .T "groups.position" }}</th>
                    <th>{{ .T "groups.col_org_unit" }}</th>
                    <th>{{ .T "groups.col_position_level" }}</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/groups.min.js"></script>
{{end}}