{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">{{ .T "nav.dashboard" }}</a>
                </li>
                <li>
                    <a href="/campaigns">{{ .T "nav.campaigns" }}</a>
                </li>
                <li>
                    <a href="/groups">{{ .T "nav.users_groups" }}</a>
                </li>
                <li> <a href="/templates">{{ .T "nav.email_templates" }}</a>
                </li>
                <li>
                    <a href="/landing_pages">{{ .T "nav.landing_pages" }}</a>
                </li>
                <li>
                    <a href="/training_modules">{{ .T "nav.training_modules" }}</a>
                </li>
                <li>
                    <a href="/training_campaigns">{{ .T "nav.training_campaigns" }}</a>
                </li>
                <li>
                    <a href="/quizzes">{{ .T "nav.quizzes" }}</a>
                </li>
                <li>
                    <a href="/risk">{{ .T "nav.risk_report" }}</a>
                </li>
                <li>
                    <a href="/leaderboard">{{ .T "nav.leaderboard" }}</a>
                </li>
                <li>
                    <a href="/compliance">{{ .T "nav.compliance" }}</a>
                </li>
                <li>
                    <a href="/sending_profiles">{{ .T "nav.sending_profiles" }}</a>
                </li>
                <li>
                    <a href="/settings">{{ .T "nav.account_settings" }}</a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">{{ .T "nav.user_management" }}<span class="nav-badge badge pull-right">{{ .T "common.admin" }}</span></a>
                </li>
                <li>
                    <a href="/webhooks">{{ .T "nav.webhooks" }}<span class="nav-badge badge pull-right">{{ .T "common.admin" }}</span></a>
                </li>
                <li>
                    <a href="/domains">{{ .T "nav.domains" }}<span class="nav-badge badge pull-right">{{ .T "common.admin" }}</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/">{{ .T "nav.user_guide" }}</a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">{{ .T "nav.api_documentation" }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}