{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        {{.Title}}
    </h1>
    <div id="flashes" class="row"></div>
    <p class="text-muted">
        {{ .T "risk.intro" }}
    </p>
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            {{ .T "risk.empty" }}
        </div>
    </div>
    <div class="row">
        <table id="riskTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-1">{{ .T "risk.score" }}</th>
                    <th class="col-md-4">{{ .T "risk.recipient" }}</th>
                    <th class="col-md-1">{{ .T "risk.sims" }}</th>
                    <th class="col-md-1">{{ .T "risk.clicked" }}</th>
                    <th class="col-md-1">{{ .T "risk.submitted" }}</th>
                    <th class="col-md-1">{{ .T "risk.reported" }}</th>
                    <th class="col-md-3">{{ .T "risk.training" }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/risk.min.js"></script>
{{end}}
