{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        {{ .T "sending_profiles.title" }}
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal"><i class="fa fa-plus"></i> {{ .T "sending_profiles.new" }}</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            {{ .T "sending_profiles.empty" }}
        </div>
    </div>
    <div class="row">
        <table id="profileTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-4">{{ .T "common.name" }}</th>
                    <th>{{ .T "sending_profiles.interface_type" }}</th>
                    <th>{{ .T "sending_profiles.last_modified" }}</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="profileModalLabel">{{ .T "sending_profiles.modal.title" }}</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="name">{{ .T "common.name" }}:</label>
                        <input type="text" class="form-control" placeholder="{{ .T "sending_profiles.name_placeholder" }}" id="name" autofocus />
                        <label class="control-label" for="interface_type">{{ .T "sending_profiles.interface_type" }}:</label>
                        <input type="text" class="form-control" value="SMTP" id="interface_type" disabled />
                        <label class="control-label" for="from">{{ .T "sending_profiles.smtp_from" }}: <i class="fa fa-question-circle"
                                data-toggle="tooltip" data-placement="right" title="{{ .T "sending_profiles.smtp_from_help" }}"></i></label>
                        <input type="text" class="form-control" placeholder="test@example.com" id="from"
                            required />
                        <label class="control-label" for="profile_domain">{{ .T "sending_profiles.use_domain" }}: <i class="fa fa-question-circle"
                                data-toggle="tooltip" data-placement="right" title="{{ .T "sending_profiles.use_domain_help" }}"></i></label>
                        <select class="form-control" id="profile_domain"><option value="">&mdash;</option></select>
                        <label class="control-label" for="host">{{ .T "sending_profiles.host" }}:</label>
                        <input type="text" class="form-control" placeholder="smtp.example.com:25" id="host" required />
                        <label class="control-label" for="username">{{ .T "sending_profiles.username" }}:</label>
                        <input type="text" class="form-control" placeholder="{{ .T "sending_profiles.username" }}" id="username" />
                        <label class="control-label" for="password">{{ .T "sending_profiles.password" }}:</label>
                        <input type="password" class="form-control" placeholder="{{ .T "sending_profiles.password" }}" id="password" />
                        <div class="checkbox checkbox-primary">
                            <input id="ignore_cert_errors" type="checkbox" checked>
                            <label for="ignore_cert_errors">{{ .T "sending_profiles.ignore_cert" }} <i class="fa fa-question-circle"
                                    data-toggle="tooltip" data-placement="right" title="{{ .T "sending_profiles.ignore_cert_help" }}"></i></label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <label class="control-label input-group">{{ .T "sending_profiles.email_headers" }}:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerKey" id="headerKey" placeholder="X-Custom-Header">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerValue" id="headerValue" placeholder='{{"{{"}}.URL{{"}}"}}-gophish'>
                        </div>
                        <div class="col-md-2">
                            <button id="addCustomHeader" class="btn btn-danger btn-headers" type="button"><i class="fa fa-plus"></i> {{ .T "sending_profiles.add_header" }}</button>
                        </div>
                    </fieldset>
                    <table id="headersTable" class="table table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>{{ .T "sending_profiles.header" }}</th>
                                <th>{{ .T "sending_profiles.value" }}</th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" data-toggle="modal" data-backdrop="static" data-target="#sendTestEmailModal"
                        class="btn btn-primary"><i class="fa fa-envelope"></i> {{ .T "sending_profiles.send_test" }}</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()">{{ .T "common.cancel" }}</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">{{ .T "sending_profiles.save" }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Send Test Email Modal -->
<div class="modal" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sendTestEmailModalTitle">{{ .T "sending_profiles.send_test" }}</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="sendTestEmailModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="to">{{ .T "sending_profiles.send_test_to" }}:</label>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ .T "sending_profiles.first_name" }}" name="to_first_name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ .T "sending_profiles.last_name" }}" name="to_last_name">
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="{{ .T "common.email" }}" name="to_email" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="{{ .T "sending_profiles.position" }}" name="to_position">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">{{ .T "common.cancel" }}</button>
                <button type="button" class="btn btn-primary" id="sendTestModalSubmit" onclick="sendTestEmail()"><i
                        class="fa fa-envelope"></i> {{ .T "sending_profiles.send" }}</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/sending_profiles.min.js"></script>
{{end}}
