{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">{{ .T "settings.title" }}</h1>
    </div>
    <div id="flashes" class="row"></div>
    {{template "flashes" .Flashes}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="mainSettings"><a href="#mainSettings" aria-controls="mainSettings" role="tab"
                data-toggle="tab">{{ .T "settings.tab.account" }}</a></li>
        <li role="uiSettings"><a href="#uiSettings" aria-controls="uiSettings" role="tab" data-toggle="tab">{{ .T "settings.tab.ui" }}</a></li>
        <li role="reportingSettings"><a href="#reportingSettings" aria-controls="reportingSettings" role="tab" id="reporttab"
            data-toggle="tab">{{ .T "settings.tab.reporting" }}</a></li>
        <li role="remediationSettings"><a href="#remediationSettings" aria-controls="remediationSettings" role="tab" id="remediationtab"
            data-toggle="tab">{{ .T "settings.tab.remediation" }}</a></li>
        {{if .ModifySystem}}
        <li role="sandboxFilterSettings"><a href="#sandboxFilterSettings" aria-controls="sandboxFilterSettings" role="tab" id="sandboxfiltertab"
            data-toggle="tab">{{ .T "settings.tab.sandbox" }}</a></li>
        {{end}}
    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mainSettings">
            <br />
            {{if .ModifySystem }}
            <div class="row">
                <label class="col-sm-2 control-label form-label">{{ .T "settings.account.version" }}</label>
                <div class="col-md-6">
                    <label class="form-label">{{.Version}}</label>
                </div>
            </div>
            <br />
            {{end}}
            <div class="row">
                <label for="api_key" class="col-sm-2 control-label form-label">{{ .T "settings.account.api_key" }}</label>
                <div class="col-md-6">
                    <input type="text" id="api_key" onclick="this.select();" value="{{.User.APIKey}}"
                        class="form-control" readonly />
                </div>
                <form id="apiResetForm">
                    <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> {{ .T "settings.account.reset" }}</button>
                    <input type="hidden" name="csrf_token" value="{{.Token}}" />
                </form>
            </div>
            <br />
            <form id="settingsForm">
                <div class="row">
                    <label for="username" class="col-sm-2 control-label form-label">{{ .T "settings.account.username" }}</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="username" value="{{.User.Username}}"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="current_password" class="col-sm-2 control-label form-label">{{ .T "settings.account.old_password" }}</label>
                    <div class="col-md-6">
                        <input type="password" id="current_password" name="current_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="new_password" class="col-sm-2 control-label form-label">{{ .T "settings.account.new_password" }}</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="new_password" autocomplete="new-password"
                            class="form-control" />
                        <div class="hidden" id="password-strength-container">
                            <div class="progress" id="password-strength">
                                <div id="password-strength-bar" class="progress-bar" role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span id="password-strength-description"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="confirm_new_password" class="col-sm-2 control-label form-label">{{ .T "settings.account.confirm_new_password" }}</label>
                    <div class="col-md-6">
                        <input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> {{ .T "common.save" }}</button>
            </form>
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="uiSettings">
            <br />
            <div class="checkbox checkbox-primary">
                <input id="use_map" type="checkbox">
                <label for="use_map">{{ .T "settings.ui.show_map" }}</label>
            </div>
        </div>
        <!-- Reporting Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="reportingSettings">
            <form id="imapForm" >
            <br />
            <div class="row">
                <div class="col-md-6">
                    {{ .T "settings.reporting.intro" }}
                </div>
             </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                    <input id="use_imap" type="checkbox">
                    <label for="use_imap">{{ .T "settings.reporting.enable" }}</label>
                </div>
                </div>
             </div>
            <br />

            
            <div class="row">
                <label for="imaphost" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.imap_host" }}</label>
                <div class="col-md-6">
                    <input type="text" id="imaphost" name="imaphost" placeholder="imap.example.com"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapport" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.imap_port" }}</label>
                <div class="col-md-6">
                    <input type="text" id="imapport" name="imapport" placeholder="993"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapusername" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.imap_username" }}</label>
                <div class="col-md-6">
                    <input type="text" id="imapusername" name="imapusername" placeholder="{{ .T "settings.reporting.username_placeholder" }}"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imappassword" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.imap_password" }}</label>
                <div class="col-md-6">
                    <input type="password" id="imappassword" name="imappassword" placeholder="{{ .T "settings.reporting.password_placeholder" }}" autocomplete="off"
                        class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <label for="use_tls" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.use_tls" }}</label>
                <div class="col-md-6">
                    <div class="checkbox checkbox-primary">
                        <input id="use_tls" type="checkbox">
                        <label for="use_tls"></label>
                    </div>
                    
                </div>
            </div>

             <!-- Advanced Settings-->
            <div id="advancedarea" style="display: none;">
                <hr>
                <div class="row">
                <label for="folder" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.folder" }}</label>
                    <div class="col-md-6">
                        <input type="text" id="folder" name="folder" placeholder="{{ .T "settings.reporting.folder_placeholder" }}"
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="folder" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.reporting.polling_tooltip" }}">{{ .T "settings.reporting.polling" }}</label>
                        <div class="col-md-6">
                            <input type="number" id="imapfreq" name="imapfreq" placeholder="{{ .T "settings.reporting.polling_placeholder" }}"
                                class="form-control" />
                        </div>
                    </div>
                    <br />
        
                <div class="row">
                    <label for="restrictdomain" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.reporting.restrict_tooltip" }}">{{ .T "settings.reporting.restrict" }}</label>
                    <div class="col-md-6">
                        <input type="text" id="restrictdomain" name="restrictdomain" placeholder="{{ .T "settings.reporting.restrict_placeholder" }}"
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="ignorecerterrors" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.reporting.ignore_cert_tooltip" }}">{{ .T "settings.reporting.ignore_cert" }}</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="ignorecerterrors" type="checkbox">
                            <label for="ignorecerterrors"></label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="deletecampaign" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.reporting.delete_emails_tooltip" }}">{{ .T "settings.reporting.delete_emails" }}</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="deletecampaign" type="checkbox">
                            <label for="deletecampaign"></label>
                        </div>
                        
                    </div>
                </div>
                <br />
        
                <div class="row" id="lastlogindiv">
                <label for="lastlogin" class="col-sm-2 control-label form-label">{{ .T "settings.reporting.last_login" }}</label>
                <div class="col-md-6">
                    <input type="text" id="lastlogin" name="lastlogin" placeholder="{{ .T "settings.reporting.checking" }}" disabled
                        class="form-control border-0" />
                    </div>
                </div>
                <br />
                <input type="hidden" id="lastloginraw" name="lastloginraw" value="">

            </div>

            <div class="row">
                <label for="advancedsettings" class="col-sm-2 control-label form-label"></label>
                <div class="col-md-6 text-right">
                    <button class="btn-xs btn-link" id="advanced" type="button">{{ .T "settings.reporting.advanced" }}</button>
                </div>
            </div>

            <button class="btn btn-primary" id ="savesettings" type="button"><i class="fa fa-save"></i> {{ .T "common.save" }}</button>
            <button class="btn btn-primary" id="validateimap" type="button"><i class="fa fa-wrench"></i> {{ .T "settings.reporting.test" }}</button>


        </form>
        </div>
        <!-- Reporting Settings End -->

        <!-- Remediation auto-enrollment (Phase 20) -->
        <div role="tabpanel" class="tab-pane" id="remediationSettings">
            <br />
            <p class="text-muted">{{ .T "settings.remediation.intro" }}</p>
            <div class="checkbox">
                <label><input type="checkbox" id="rem_enabled"> {{ .T "settings.remediation.enable" }}</label>
            </div>
            <div class="row">
                <label for="rem_module" class="col-sm-3 control-label form-label">{{ .T "settings.remediation.module" }}</label>
                <div class="col-md-6"><select id="rem_module" class="form-control"></select></div>
            </div>
            <br />
            <div class="row">
                <label for="rem_trigger" class="col-sm-3 control-label form-label">{{ .T "settings.remediation.trigger" }}</label>
                <div class="col-md-6">
                    <select id="rem_trigger" class="form-control">
                        <option value="click_or_submit">{{ .T "settings.remediation.trigger_click_or_submit" }}</option>
                        <option value="submit">{{ .T "settings.remediation.trigger_submit" }}</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <label for="rem_smtp" class="col-sm-3 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.remediation.smtp_tooltip" }}">{{ .T "settings.remediation.smtp" }}</label>
                <div class="col-md-6"><select id="rem_smtp" class="form-control"></select></div>
            </div>
            <br />
            <div class="row">
                <label for="rem_base_url" class="col-sm-3 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.remediation.base_url_tooltip" }}">{{ .T "settings.remediation.base_url" }}</label>
                <div class="col-md-6"><input type="text" id="rem_base_url" class="form-control" placeholder="https://learn.example.com" /></div>
            </div>
            <br />
            <button class="btn btn-primary" id="saveRemediation" type="button"><i class="fa fa-save"></i> {{ .T "common.save" }}</button>
        </div>
        <!-- Remediation End -->

        {{if .ModifySystem}}
        <!-- Sandbox Filter Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="sandboxFilterSettings">
            <br />
            <p class="text-muted">
                {{ .T "settings.sandbox.intro_1" }}
                <strong>{{ .T "settings.sandbox.intro_query_time" }}</strong>
                {{ .T "settings.sandbox.intro_2" }}
            </p>

            <div class="row">
                <label for="min_click_seconds" class="col-sm-3 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.sandbox.min_click_tooltip" }}">
                    {{ .T "settings.sandbox.min_click" }}
                </label>
                <div class="col-md-6">
                    <input type="number" id="min_click_seconds" min="0" placeholder="{{ .T "settings.sandbox.min_click_placeholder" }}" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="sandbox_ips" class="col-sm-3 control-label form-label" data-toggle="tooltip" title="{{ .T "settings.sandbox.ips_tooltip" }}">
                    {{ .T "settings.sandbox.ips" }}
                </label>
                <div class="col-md-6">
                    <textarea id="sandbox_ips" class="form-control" rows="8"
                              placeholder="40.94.0.0/16&#10;104.47.0.0/17&#10;192.0.2.10"></textarea>
                </div>
            </div>
            <br />

            <button class="btn btn-primary" id="savePhishFilter" type="button"><i class="fa fa-save"></i> {{ .T "common.save" }}</button>
            <span class="text-muted" style="margin-left:8px;">{{ .T "settings.sandbox.save_note" }}</span>
            <br />
        </div>
        <!-- Sandbox Filter Settings End -->
        {{end}}
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/settings.min.js"></script>
{{end}}