{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        {{.Title}}
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" id="new_button" data-toggle="modal" data-backdrop="static"
            data-target="#modal">
            <i class="fa fa-plus"></i> {{ .T "training_campaigns.new" }}</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            {{ .T "training_campaigns.empty" }}
        </div>
    </div>
    <div class="row">
        <table id="campaignTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-3 no-sort">{{ .T "common.name" }}</th>
                    <th class="col-md-2 no-sort">{{ .T "training_campaigns.due_date" }}</th>
                    <th class="col-md-3 no-sort">{{ .T "training_campaigns.completion" }}</th>
                    <th class="col-md-2 no-sort">{{ .T "training_campaigns.created" }}</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="campaignModalLabel">{{ .T "training_campaigns.new" }}</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>

                <label class="control-label" for="name">{{ .T "training_campaigns.name_label" }}</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ .T "training_campaigns.name_placeholder" }}" id="name" required autofocus />
                </div>

                <label class="control-label" for="module">{{ .T "training_campaigns.module_label" }}</label>
                <div class="form-group">
                    <select class="form-control" id="module"></select>
                </div>

                <label class="control-label" for="due_date">{{ .T "training_campaigns.due_date_label" }}</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="due_date" autocomplete="off" />
                </div>

                <label class="control-label" for="groups">{{ .T "training_campaigns.groups_label" }}</label>
                <div class="form-group">
                    <select class="form-control" id="groups" multiple="multiple"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ .T "common.close" }}</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">{{ .T "training_campaigns.create" }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Send Invitations Modal -->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sendModalLabel">{{ .T "training_campaigns.send_title" }}</h4>
            </div>
            <div class="modal-body" id="send_modal_body">
                <div class="row" id="sendModal.flashes"></div>
                <p>{{ .T "training_campaigns.send_intro" }}</p>

                <label class="control-label" for="send_profile">{{ .T "training_campaigns.sending_profile_label" }}</label>
                <div class="form-group">
                    <select class="form-control" id="send_profile"></select>
                </div>

                <label class="control-label" for="send_url">{{ .T "training_campaigns.portal_url_label" }}
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                        title="{{ .T "training_campaigns.portal_url_tooltip" }}"></i>
                </label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="https://learn.example.com" id="send_url" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ .T "common.cancel" }}</button>
                <button type="button" class="btn btn-primary" id="sendModalSubmit">
                    <i class="fa fa-envelope"></i> {{ .T "training_campaigns.send_button" }}</button>
            </div>
        </div>
    </div>
</div>

{{end}} {{define "scripts"}}
<script src="/js/dist/app/training_campaigns.min.js"></script>
{{end}}
