{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        {{.Title}}
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" id="new_button" data-toggle="modal" data-backdrop="static"
            data-module-id="-1" data-target="#modal">
            <i class="fa fa-plus"></i> {{ .T "training_modules.new" }}</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            {{ .T "training_modules.empty" }}
        </div>
    </div>
    <div class="row">
        <table id="moduleTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-3 no-sort">{{ .T "common.name" }}</th>
                    <th class="col-md-2 no-sort">{{ .T "training_modules.col_type" }}</th>
                    <th class="col-md-4 no-sort">{{ .T "training_modules.col_description" }}</th>
                    <th class="col-md-2 no-sort">{{ .T "training_modules.col_modified" }}</th>
                    <th class="col-md-1 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="moduleModalLabel">{{ .T "training_modules.modal_title" }}</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>

                <label class="control-label" for="name">{{ .T "training_modules.name_label" }}</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ .T "common.name" }}" id="name" required autofocus />
                </div>

                <label class="control-label" for="description">{{ .T "training_modules.description_label" }}</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ .T "training_modules.description_placeholder" }}" id="description" />
                </div>

                <label class="control-label" for="content_type">{{ .T "training_modules.content_type_label" }}</label>
                <div class="form-group">
                    <select class="form-control" id="content_type">
                        <option value="html">{{ .T "training_modules.content_type_html" }}</option>
                        <option value="video">{{ .T "training_modules.content_type_video" }}</option>
                        <option value="external">{{ .T "training_modules.content_type_external" }}</option>
                    </select>
                </div>

                <div class="form-group" id="html_group">
                    <label class="control-label" for="html">{{ .T "training_modules.html_label" }}</label>
                    <textarea class="form-control" id="html" rows="10"
                        placeholder="<h1>Spotting phishing</h1><p>...</p>"></textarea>
                </div>

                <div class="form-group" id="url_group" style="display:none;">
                    <label class="control-label" for="url">{{ .T "training_modules.url_label" }}</label>
                    <input type="text" class="form-control" placeholder="https://..." id="url" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ .T "common.close" }}</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">{{ .T "training_modules.save_changes" }}</button>
            </div>
        </div>
    </div>
</div>

{{end}} {{define "scripts"}}
<script src="/js/dist/app/training_modules.min.js"></script>
{{end}}
